@import "@/themes/themes";

//边框颜色
$--border: #0096E5;

//字体其他颜色
$--font: #fff;
$--text-danger: #FF3B30;
$--text-success: #00B578;
$--text-warning: #FFAF00;
$--text-cyan: #00F8FF;
$--text-info: #0096FF;
//背景其他颜色
$--bg-success: #08ED19;
$--bg-danger: #FF0000;
$--bg-nothing: rgba(0, 150, 255, .1);
$--bg-primary: rgba(0, 150, 255, 0.3);
